.header-left {
  display: flex;
  height: 100%;
  align-items: center;
  padding-left: 20px;
}

.header-right {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
}

.note-buttons-container {
  display: flex;
}