.backdrop {
  overflow: hidden;
  width: 95vw;
  padding: 0 !important;
  margin: 20px auto 0;
  border-radius: 10px;
}

.modal {
  margin: 10px !important;
  width: auto;
  min-width: 600px;
  max-width: 100% !important;
  padding: 0 !important;
  overflow: hidden;
  height: 96.5% !important;
}

.RichEditor-root {
  background: #fffbef;
  border: 1px solid #ddd;
  font-family: 'Georgia', serif;
  font-size: 14px;
  padding: 15px;
}

.RichEditor-editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 200px;
  max-height: 250px;
  overflow-y: scroll;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}

.RichEditor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.RichEditor-activeButton {
  color: #5890ff;
}

.card {
  margin-top: 2.4vw;
  min-width: 330px;
  width: 48.8%;
  max-width:48.8%;
}

@media screen and (max-width: 965px) {
  .card {
    width: 100%;
    max-width: 450px;
    margin: 2.4vw auto 0;
  }
}

.card2 {
  height: 100%;
}

.card-text {
  max-height: 112px;
  overflow: hidden;
  margin-bottom: 16px;
}